$bg-body: rgba(249, 238, 255, 1);
$bg-section: rgba(255, 255, 255, 1);
$clr-font-1: rgba(47, 21, 51, 1);
$clr-font-2: rgba(249, 238, 255, 1);
$clr-font-3: rgba(141, 105, 145, 1);
$clr-font-4: rgba(160, 40, 215, 1);
$font-family: 'Work Sans', sans-serif;