@use 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: variables.$font-family;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: variables.$bg-body;
    background-image: url('../assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
}

section {
    width: 37.5rem;
    margin-top: 10.5rem;
    padding: 2.5rem 2.5rem .125rem;
    background: variables.$bg-section;
    color: variables.$clr-font-1;
    border-radius: .9375rem;
    h1 {
        margin: 0;
        font-size: 3.4375rem;
        display: flex;
        align-items: center;
        gap: 1.375rem;
    }
}

.accordion {
    margin: .625rem 0;
    &_item {
        position: relative;
        &:not(:last-of-type) {
            border-bottom: .0625rem solid rgba(222, 222, 222, 1);
        }
        &_inner {
            display: grid;
            grid-template-rows: auto 0fr;
            transition: grid-template-rows .3s;
            overflow: hidden;
            svg {
                min-width: 1.875rem;
            }
            .icon_minus {
                display: none;
            }
        }
        input {
            appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            &:checked + .accordion_item_inner {
                grid-template-rows: auto 1fr;
                .icon_plus {
                    display: none;
                }
                .icon_minus {
                    display: block;
                }
            }
            &:focus-visible + .accordion_item_inner {
                outline: .25rem solid rgba(47, 21, 51, 1);
                outline-offset: .125rem;
            }
        }
    }
    dt {
        font-size: 1.125rem;
        font-weight: 600;
        label {
            padding: 1.5625rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: color .3s;
            &:hover {
                color: variables.$clr-font-4; 
            }
        }
    }
    dd {
        margin: 0;
        color: variables.$clr-font-3;
        line-height: 1.5;
        overflow: hidden;
        p {
            margin: 0;
            padding-bottom: 1.25rem;
        }
    }
}

@media(max-width: 38.125rem) {
    body {
        background-image: url('../assets/images/background-pattern-mobile.svg');
    }

    section {
        width: 25rem;
        padding: 1.5625rem 1.5625rem .3125rem;
        border-radius: .3125rem;
        h1 {
            font-size: 1.875rem;
            gap: 1.5625rem;
            svg {
                width: 1.5625rem;
            }
        }
    }

    .accordion {
        margin-top: -0.125rem;
        &_item {
            &_inner {
                grid-template-rows: auto 0fr;
            }
            input {
                &:checked + .accordion_item_inner {
                    grid-template-rows: auto 1fr;
                }
               
            }
        }
        dt {
            font-size: 1rem;
            label {
                padding: 1.25rem 0;
                gap: 2.5rem;
            }
        }
        dd {
            p {
                padding: .3125rem 0 1.25rem 0;
                font-size: .875rem;
            }
        }
    }
}

@media(max-width: 26.25rem) {
    section {
        width: 20.3125rem;
        margin-top: 8.75rem;
    }
}